.card {
    margin: 2%;
    width: 85%;
    height: max-content;
    border: #bb86fc 5px solid;
    border-radius: 15px;
    background-color: #eceaea;
    padding:0 2% 2% 2%;
}

.card-header {
    margin-bottom: -2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remove-button {
    height:4vh;
    width: 10%;
    margin-top: 2vh;
    color: white;
    background-color: #3700b3;
    border: none;
    border-radius: 10px;
}

.remove-button:hover {
    background-color: #3a02b8;
}

.remove-button:active {
    background-color: #2e018f;
}

