.sidebar-container {
    height: 100vh;
    width: 25vw;

    display: flex;
}
.sidebar {
    height: 100%;
    background-color: #eceaea;
    width: 20vw;
    margin-right: -15px;
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

.sidebar-title {
    font-size: 1.5vw;
    font-family: "Arial Black", serif;
    margin: 5% 5% -5% 5%;
}

.field {
    color:grey;
    font-size: 1vw;
    margin-left: 5%;
    margin-top: 10vh;
}









