.transaction-container {
    height: 100vh;
    width: 50vw;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    justify-items: center;

}
.example::-webkit-scrollbar {
    display: none;
}